<div id="container_sc_acc_terms" class="sc_container">
  <div class="sc_text_content">
    <spam>
      Nós usamos cookies e outras tecnologias semelhantes para melhorar a sua
      experiência em nossos serviços, personalizar publicidade e recomendar
      conteúdo de seu interesse. Ao utilizar nossos serviços, você concorda com
      tal monitoramento descrito em nossa
    </spam>
    <a href="" target="_blank" id="sc_privacy_policy_link"
      >Política de Privacidade</a
    >
    e
    <a href="" target="_blank" id="sc_cookies_policy">Política de cookies</a>
  </div>
  <div class="sc_div_buttons_acc_terms">
    <span class="sc_acc_btn_div">
      <button id="sc_acc_btn" onclick="sc_acc_terms_js(true)">
        Permitir Tudo
      </button>
    </span>
    <span class="sc_acc_btn_essentials_div">
      <button
        class="sc_acc_btn_essentials"
        onclick="sc_acc_terms_js('essentials')"
      >
        Permitir Essenciais
      </button>
    </span>
    <span class="sc_open_modal_preferred_cookies_div">
      <button
        class="sc_open_modal_preferred_cookies"
        onclick="sc_open_modal(true)"
      >
        <svg width="10" height="10" viewBox="0 0 15 15" fill="none">
          <rect
            x="0.898926"
            y="0.399902"
            width="1.7"
            height="11"
            rx="0.85"
            fill="white"
          ></rect>
          <rect
            x="0.898926"
            y="0.399902"
            width="1.7"
            height="11"
            rx="0.85"
            fill="#F2F3F2"
          ></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.59893 13.05C2.34824 13.2383 2.03663 13.3499 1.69897 13.3499C1.40484 13.3499 1.13048 13.2652 0.898926 13.119V14.0411C0.898926 14.5105 1.27948 14.8911 1.74893 14.8911C2.21837 14.8911 2.59893 14.5105 2.59893 14.0411V13.05Z"
            fill="white"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.59893 13.05C2.34824 13.2383 2.03663 13.3499 1.69897 13.3499C1.40484 13.3499 1.13048 13.2652 0.898926 13.119V14.0411C0.898926 14.5105 1.27948 14.8911 1.74893 14.8911C2.21837 14.8911 2.59893 14.5105 2.59893 14.0411V13.05Z"
            fill="#F2F3F2"
          ></path>
          <circle cx="1.75" cy="10.45" r="1.75" fill="white"></circle>
          <circle cx="1.75" cy="10.45" r="1.75" fill="#F2F3F2"></circle>
          <rect
            x="11.8892"
            y="0.399902"
            width="1.7"
            height="11"
            rx="0.85"
            fill="white"
          ></rect>
          <rect
            x="11.8892"
            y="0.399902"
            width="1.7"
            height="11"
            rx="0.85"
            fill="#F2F3F2"
          ></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.5892 13.05C13.3385 13.2383 13.0269 13.3499 12.6892 13.3499C12.3951 13.3499 12.1207 13.2652 11.8892 13.119V14.0411C11.8892 14.5105 12.2697 14.8911 12.7392 14.8911C13.2086 14.8911 13.5892 14.5105 13.5892 14.0411V13.05Z"
            fill="white"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.5892 13.05C13.3385 13.2383 13.0269 13.3499 12.6892 13.3499C12.3951 13.3499 12.1207 13.2652 11.8892 13.119V14.0411C11.8892 14.5105 12.2697 14.8911 12.7392 14.8911C13.2086 14.8911 13.5892 14.5105 13.5892 14.0411V13.05Z"
            fill="#F2F3F2"
          ></path>
          <circle cx="12.7402" cy="10.45" r="1.75" fill="white"></circle>
          <circle cx="12.7402" cy="10.45" r="1.75" fill="#F2F3F2"></circle>
          <rect
            x="7.99902"
            y="14.8911"
            width="1.7"
            height="11"
            rx="0.85"
            transform="rotate(-180 7.99902 14.8911)"
            fill="white"
          ></rect>
          <rect
            x="7.99902"
            y="14.8911"
            width="1.7"
            height="11"
            rx="0.85"
            transform="rotate(-180 7.99902 14.8911)"
            fill="#F2F3F2"
          ></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.29902 2.85474C6.54971 2.60369 6.86131 2.45493 7.19897 2.45493C7.49311 2.45493 7.76747 2.56781 7.99902 2.76286L7.99902 1.25005C7.99902 0.780609 7.61847 0.400051 7.14902 0.400051C6.67958 0.400051 6.29902 0.780609 6.29902 1.25005L6.29902 2.85474Z"
            fill="white"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.29902 2.85474C6.54971 2.60369 6.86131 2.45493 7.19897 2.45493C7.49311 2.45493 7.76747 2.56781 7.99902 2.76286L7.99902 1.25005C7.99902 0.780609 7.61847 0.400051 7.14902 0.400051C6.67958 0.400051 6.29902 0.780609 6.29902 1.25005L6.29902 2.85474Z"
            fill="#F2F3F2"
          ></path>
          <circle
            cx="7.1499"
            cy="5.45312"
            r="1.75"
            transform="rotate(-180 7.1499 5.45312)"
            fill="white"
          ></circle>
          <circle
            cx="7.1499"
            cy="5.45312"
            r="1.75"
            transform="rotate(-180 7.1499 5.45312)"
            fill="#F2F3F2"
          ></circle>
        </svg>
        Preferências de Cookies
      </button>
    </span>
  </div>
</div>
<link rel="stylesheet" href="/src/style/sc_styles.css" />
